/* *{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: pink;
    margin: 0;
    padding: 0; */
    /* background-color: black; */
/* } */

/* h1{
    padding: 20px;
} */

/* #abc{
    color: green;
}

.heading{
    color: red;
} */


/* universal (*) < tag, group < class selector < id selector

inline css > internal css > external css */